<style>
    .site-a {
        text-decoration: none !important;
        color: gray !important;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid lightgray;
        margin: 5px auto !important;
    }
    .site-a:hover {
        background: rgba(158,188,226,0.21);
    }
    .site-img {
        max-width: 100px !important;
        max-height: 75px !important;
        padding-top: 25px;
        display: block;
        height: 75px;
        margin: 0 auto !important;
    }
    .site-img-maven {
        height: auto;
        width: 100px;
        margin: 28px auto !important;
    }
    .site-img-jekyll {
        height: auto;
        width: 100px;
        margin: 15px auto !important;
    }
    .site-a:hover .site-img {
        filter: invert(30%);
    }
    .site-text {
        font-size: 13px;
        text-align: center;
        display: block;
    }
</style>
<hr>
<br>
<div class="site">
    <a class="site-a" href="https://github.com/chenbin-353549444">
        <img src="/img/github-octocat.svg" class="site-img">
        <span class="site-text">GitHub</span>
    </a>
    <a class="site-a" href="https://projects.spring.io/spring-boot">
        <img src="https://www.jhipster.tech/images/logo/svg/spring-boot.svg" class="site-img">
        <span class="site-text">Spring boot</span>
    </a>
    <a class="site-a" href="https://docs.spring.io/spring-data/jpa/docs/current/reference/html">
        <img src="https://www.jhipster.tech/images/logo/icons/spring.png" class="site-img">
        <span class="site-text">Spring Data JPA</span>
    </a>
    <a class="site-a" href="https://www.npmjs.com">
        <img src="https://www.npmjs.com.cn/images/npm.svg" class="site-img">
        <span class="site-text">Npm</span>
    </a>
    <a class="site-a" href="https://www.docker.com">
        <img src="https://www.jhipster.tech/images/logo/svg/docker.svg" class="site-img">
        <span class="site-text">Docker</span>
    </a>
    <a class="site-a" href="https://jenkins.io">
        <img src="https://www.jhipster.tech/images/logo/svg/jenkins.svg" class="site-img">
        <span class="site-text">Jenkins</span>
    </a>
    <a class="site-a" href="https://tomcat.apache.org">
        <img src="https://tomcat.apache.org/res/images/tomcat.png" class="site-img">
        <span class="site-text">Tomcat</span>
    </a>
    <a class="site-a" href="http://maven.apache.org">
        <img src="http://maven.apache.org/images/maven-logo-black-on-white.png" class="site-img site-img-maven">
        <span class="site-text">Maven</span>
    </a>
    <a class="site-a" href="http://mvnrepository.com">
        <img src="http://mvnrepository.com/assets/images/392dffac024b9632664e6f2c0cac6fe5-logo.png" class="site-img site-img-maven">
        <span class="site-text">MvnRepository</span>
    </a>
    <a class="site-a" href="https://stackedit.io/editor">
        <img src="/images/stackedit.svg" class="site-img">
        <span class="site-text">StackEdit</span>
    </a>
    <a class="site-a" href="https://hexo.io">
        <img src="https://hexo.io/logo.svg" class="site-img">
        <span class="site-text">Hexo</span>
    </a>
    <a class="site-a" href="https://jekyllrb.com">
        <img src="https://jekyllrb.com/img/logo-2x.png" class="site-img site-img-jekyll">
        <span class="site-text">Jekyll</span>
    </a>
</div>