<!-- Gitalk 评论 start  -->
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: `3f1d755fddc639a1ae4a`,
        clientSecret: `df185eae6463b9d666073a2f317ca58647ad26f9`,
        repo: `chenbin-353549444/comment`,
        owner: 'chenbin-353549444',
        admin: ['chenbin-353549444'],
        id: 'window.location.pathname',

    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->